@{
    ViewData["Title"] = "FourTask";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Projeto FourTask - Avaliação Final</p>
    <h2 class="text-secondary"> Para ter acesso a alguma Equipe primeiro faça seu login, caso não tenha login registre-se. </h2>
</div>
