

<div class="text-center">
    <h1 class="display-4 text-secondary">Equipe FrontEnd </h1>
    <h2>Editando Informações.</h2>
</div>

<br />

<div style="text-align:center">
    <h3>TAREFAS</h3>
</div>

<br />

<div class="equipe">
    <table border="0" class="table table-hover text-center">
        <thead>
            <tr class="table-secondary ">
                <th height="10">Nome da Tarefa</th>
                <th height="10"></th>
                <th height="10"></th>
            </tr>
        </thead>

        <thead>
            <tr class="table-dark">
                <td width="70%">Criar Botão</td>
                <td width="25%">
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-success">Aceitar</a>                        
                    </div>
                </td>

                <td width="25%">
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-danger">Editar</a>
                    </div>

                </td>
            </tr>
        </thead>
    </table>




</div>


