
<div class="text-center">
    <h1 class="display-4 text-secondary">Equipes Fousys. </h1>
    <h2>Aqui você encontra informações das Equipes e suas Tarefas.</h2>
</div>

<br />

<div class="equipe">
    <table border="0" class="table table-hover">
        <thead>
            <tr class="table-secondary ">
                <th height="20">Nome da Equipe</th>
                <th height="50">Tarefas da Equipe</th>
                <th>Ações</th>
            </tr>
        <thead>

        <thead>
            <tr class="table-dark">
                <td>Equipe Pâmela</td>
                <td>Criar um novo botão</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Tarefas" asp-action="Editar">Entrar</a>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
</div>

