@model Equipe

<h1>Listagem de Equipes</h1>

<hr />

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Descricao</th>
        <th>Area de Atuacao</th>
        <th>Data de Criação</th>
    </tr>

    </table>